# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Variables de entorno
.env
.env.local
.env.production

# Claves y certificados
infra/certs/private.pem
infra/certs/*.pem
infra/certs/*.key

# Base de datos local
*.db
*.sqlite3

# Logs
*.log
logs/

# Docker
.docker/

# VS Code
.vscode/

# MacOS
.DS_Store

# Node (frontend)
node_modules/
frontend/dist/
frontend/build/

# InfluxDB local
influxdb/

# Grafana local
grafana/
